@import url('https://fonts.googleapis.com/css?family=Public+Sans:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100%;
}

body{
    font: 400 14px Public Sans, sans-serif; 
    background: #f0f0f5;
}

textarea, input, button{
    font: 400 18px Public Sans, sans-serif; 
}

button{
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

.button{
    width: 100%;
    height: 60px;
    background: #E02041;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover{
    filter: brightness(85%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 16px;
    text-decoration: none;
    font-weight: 500px;
    transition: opacity 0.2s;
}

/* Icones vem em SVG*/
.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8s;
}